version: '3.7'
services:
  client:
    build:
      context: .
      dockerfile: ./client/Dockerfile
    volumes:
      - ./client/src/:/client/src/
      - ./client/public/:/client/public/
      - ./client/package.json:/client/package.json
      - ./client/yarn.lock:/client/yarn.lock
      - ./client/tsconfig.json:/client/tsconfig.json
      - ./client/.eslintrc.js:/client/.eslintrc.js
    ports:
      - 3000:3000
    depends_on:
      - server
    environment:
      - CHOKIDAR_USEPOLLING=true
      - HTTPS=true
      - SSL_KEY_FILE=client.key
      - SSL_CRT_FILE=client.crt
    networks:
      checker_game:
    tty: true
  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    volumes:
      - ./server/config/:/var/www/html/config/
      - ./server/src/:/var/www/html/src/
      - ./server/.env:/var/www/html/.env
      - ./server/composer.json:/var/www/html/composer.json
      - ./server/composer.lock:/var/www/html/composer.lock
      - ./server/symfony.lock:/var/www/html/symfony.lock
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - 443:443
    depends_on:
      - mysql
    links:
      - mysql
    networks:
      checker_game:

  mysql:
    image: mysql:5.7
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_DATABASE: checker_game
    networks:
      checker_game:

networks:
  checker_game:
